.add-container {
  display: grid;
  justify-content:center;
}

mat-card {
  width: 70vw;
  align-items: center;
}

.add-form {
  width: 100%;
  color: white;
}

.add-button {
  display: inline-block;
  height: 52px;
  width: 20%;
  float: right;
}

.bg-1 {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

mat-form-field  {
  width: 80%;
  display: inline-block;
  color: white;
}

mat-label {
  color:white;
}

input {
  caret-color: white;
}
