mat-card {
  background-color: #82919f;
  display: inline-block;
  padding-top: 0 !important;
  width: 250px;
}

.middle {
  margin-left: 5px;
  margin-right: 5px;
}

.left {
  margin-left: auto;
}

.right {
  margin-right: auto;
}

.crown-container {
  height: 500px !important;
}
