table {
  width: 100%;
  background: #555555;
}

.mat-cell, .mat-header-cell {
  color: white;
  border-bottom: 1px solid #82919f;
}

.mat-sort-header-indicator {
  color: white !important;
}

button {
  z-index: 10;
}

.refresh-icon {
  float: right;
  display: inline;
  cursor: pointer;
}

.refresh-spinner {
  float: right;
  display: inline;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.toggle {
  float: right;
  display: inline;
}

.hidden {
  display: none;
}
