<h2 mat-dialog-title><button mat-raised-button color="primary" (click)="checkAvailability(data.id);">Check availability for {{data.title}}</button></h2>
<mat-dialog-content>
  <mat-divider></mat-divider>
  <h3>BFlix <mat-icon class="green" *ngIf="resultsB.length > 0">done</mat-icon><mat-icon *ngIf="resultsB.length == 0">not_interested</mat-icon><mat-progress-bar *ngIf="loadingB" mode="indeterminate"></mat-progress-bar></h3>
  <mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile *ngFor="let result of resultsB;">
      <a href="{{result.link}}" target="_blank" matTooltip="{{result.title}} with an Accuracy of {{result.similarity}}">
        <img src="{{result.poster}}" height="200px">
      </a>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-divider></mat-divider>
  <h3>SockShare <mat-icon class="green" *ngIf="resultsS.length > 0">done</mat-icon><mat-icon *ngIf="resultsS.length == 0">not_interested</mat-icon><mat-progress-bar *ngIf="loadingS" mode="indeterminate"></mat-progress-bar></h3>
  <mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile *ngFor="let result of resultsS;">
      <a href="{{result.link}}" target="_blank" matTooltip="{{result.title}} with an Accuracy of {{result.similarity}}">
        <img src="{{result.poster}}" height="200px">
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

