:root {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #232121;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  padding: 24px !important;
}

code {
  background: #00000010;
  border-radius: 4px;
  padding: 3px;
}

mat-dialog-container {
  background: #2f2e2e !important;
  color: white !important;
}

.mat-tab-label {
  color: white !important;
}
