.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  justify-content: space-between;
  align-items: flex-end;
}
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

