<h1>Welcome to the <em>MMMKLCOBHT</em> Webapp!</h1>

<h2>What do?</h2>
<ol>
  <li>
    <u>Add a new Movie</u>
    <p>
      Navigate via the Menu-Bar to <code>Add new Movie</code> and paste an IMDB-Link in the input field.<br>
      After submitting the Link with the button the result of the action appears below the input field.
    </p>
  </li>
  <li>
    <u>Get three random Movies from the List</u>
    <p>
      Navigate to <code>Choose a Movie</code> to get three random Movies from the list.<br>
      Selecting a Movie with the <code>Watch now</code> button will copy it's name to the clipboard and mark it as watched (TODO) so it wont be suggested again.<br>
      As long as the random Movies aren't refreshed its possible to mark a Movie as unwatched again in case we don't find a way to watch it.
    </p>
  </li>
  <li>
    <u>Check all Movies currently on the List</u>
    <p>
      Navigate to <code>Check the List</code> to get a detailed overview of all Movies currently on the list with the option to delete/update any Movie on it.<br>
      Filter the list with the <code>Show watched</code>-Button to show/hide already watched movies.
    </p>
  </li>
</ol>

<h2>Planned features</h2>
<ul>
  <li>Add option to create a review after watching a movie</li>
  <li>Add further options to the random Movie selection (e.g.: return at least one Movie with rating > 6)</li>
  <li>Softlock a movie from the three random movies, but get 2 new ones</li>
  <li>Valentin schickt die Succubi-Statuen-Bilder für das Darktheme</li>
</ul>

