.mat-card {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  background: #82919f;
}

mat-card-actions {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-bottom: 20px;
}

mat-card-content {
  margin-left: auto;
  margin-right: auto;
}

.mat-card-image {
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.review {
  height: auto !important;
  flex-direction: column;
}
