<mat-tab-group dynamicHeight>
  <mat-tab label="Write Review">
    <h1>Write a review</h1>
    <mat-grid-list [cols]="breakpoint" rowHeight="1:1.5" [gutterSize]="'20px'" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let movie of allMovies">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>{{movie.genre}}</mat-card-subtitle>
          </mat-card-header>
          <a href="{{movie.imdbLink}}" target="_blank"><img mat-card-image src="{{movie.posterLink}}" width="100px" height="auto" alt="Movie Poster"></a>
          <mat-card-content>
            <p>{{movie.plot}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialog(movie);">Review</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Check Reviews">
    <h1>Check all reviews</h1>
    <div class="flex">
        <mat-card *ngFor="let movie of allReviews" class="review">
          <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>{{movie.genre}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <a href="{{movie.imdbLink}}" target="_blank"><img mat-card-image src="{{movie.posterLink}}" width="100px" height="auto" alt="Movie Poster"></a>
            <p>{{displayDate(movie.personalRating.reviewedWhen)}}</p>
          </mat-card-content>
          <app-review-calc [config]="movie.personalRating.config"></app-review-calc>
        </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>


